src/main/java/pl/adamlettuce/xmlobjects/operations.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="operations" type="operations"/>
    <xs:complexType name="operation">
        <xs:sequence>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="number" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="operations">
        <xs:sequence>
            <xs:element type="operation" name="operation" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>